/*header*/
.mNavBar{
	width:100%;
	margin-left:auto;
	margin-right:auto
}
.mNavBar{
	height:42px;
	background-color:#FFFFFF;
	border-bottom:1px solid #E6E7E9;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	font-size:14px;
	line-height:42px;
}
.left a{
	color:black;
}
.right a{
	color:black;
}
.toolBar{
	height:85px;
	line-height:85px;
	background-color:#1AA3F1;
}

/*content*/
.content{
	margin-top:95px;
}
.list-width{
	width:220px;
}
.carousel-width{
	widht:720px;
}
/*list*/
.title{
	padding:10px;
	font-size:16px;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	border-bottom:1px solid #1AA3F1;
}
.more{
	margin:10px;
	font-size:14px;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
}
/*footer*/
.footer-top{
	height:25px;
}
.footer {
    width: 100%;
    padding-top: 20px;
    color: #99a2aa;
    text-align: center;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
}
.footer .footer-wrp {
    height: 150px;
    background-color: #f6f9fa;
    padding-top: 30px;
}
