body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin: 0;padding: 0
}
body{
	font-size: 12px;
}
img{
	border: none;
}
.left{
	float:left;
}
.right{
	float:right;
}
.m-l{
	margin-left:10px;
}
.m-r{
	margin-right:10px;
}
.m-t{
	margin-top:10px;
}
.m-b{
	margin-bottom:10px;
}
#panel{
	background:#289ee7;
	color:white;
	font-size:14px;
	font-family:'Microsoft YaHei',Arial,Helvetica,sans-serifsans-serif;
}
.badge1 {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #289ee7;
    border-radius: 2px;
}